.measurement-table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
  table-layout: fixed;
}

.measurement-table th,
.measurement-table td {
  border: 1px solid #ccc;
  text-align: left;
  padding: 8px;
  word-wrap: break-word;
}

.measurement-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  height: 70px;
}

.measurement-table tr:nth-child(even) {
  background-color: #f8f8f8;
}

.segments button {
  margin-right: 5px;
}

.segments button.active {
  background-color: #007bff;
  color: white;
}

.form-edit-text-box{
  width: 80%;
}

.form-edit-main{
  padding-top: 1px;
  margin-left: 2%;
}

.thumbnail-image {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  cursor: pointer;
}
.custom-file-upload {
  padding: 10px;
  background-color: #f2f2f2;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: inline-block;
  font: inherit;
}
