.form-page-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin-top: 1rem;
  }
  
  .form-table th,
  .form-table td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
  }
  
  .form-table th {
    background-color: #0d2f5a;
    color: #ffffff;
  }
  
  .form-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .add-itp-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #0d2f5a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .add-form-btn {
    background-color: #0d2f5a;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  