.product-segment {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.segment-content {
  min-height: 50px;
}

.product-segment .active ~ .segment-content {
  display: block;
}

.segment-content > div {
  display: inline-block;
  vertical-align: top;
  vertical-align: top;
}

.segment-buttons {
  display: flex;
  justify-content: space-between; /* This will ensure the buttons take up the full width */
}

.product-segment-btn{
  margin: 0;
  flex-grow: 1; /* This will make the buttons of equal width */
  flex-basis: 0; /* The buttons will evenly divide the available space */
  text-align: center; /* This will center the button text */
}

.cell-error input {
  background-color: #ffcccc;
}

.product-segment td input {
  width: 80%;

}

.column-5 {
  width: 5%; 
}

.column-9 {
  width: 9%;
}

.column-25 {
  width: 2.5%;
}
