.upload-form-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form-table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}

.form-table th,
.form-table td {
  padding: 0.625rem;
  text-align: left;
  border: 0.0625rem solid #ccc;
}

.form-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.form-table tr:nth-child(even) {
  background-color: #f8f8f8;
}

.products-form {
  width: 80%;
  margin: auto;
  padding-top: 2rem;
}

.product-list {
  margin-top: 5rem;
  padding-bottom: 2rem;
  border-collapse: collapse;
  width: 100%;
}

.product-list th,
.product-list td {
  padding: 0.625rem;
  text-align: left;
  border: 0.0625rem solid #ccc;
}

.product-list th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.product-list tr:nth-child(even) {
  background-color: #f8f8f8;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  border: 0.0625rem solid #f5c6cb;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}
.products-form button[type="submit"] {
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
.products-form input[type="text"],
.products-form input[type="number"],
.products-form select {
  border: 1px solid #ccc;
}
