.upload-form-container {
  width: 82%;
  margin-left: auto;
  padding-top: 2rem;
  justify-content: center;
}

.form-table {
  width: 100%;
  border-collapse: collapse;
}

.form-table th,
.form-table td {
  padding: 0.625rem;
  text-align: left;
  border: 0.0625rem solid #ccc;
}

.form-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.form-table tr:nth-child(even) {
  background-color: #f8f8f8;
}

.products-form {
  padding-top: 2rem;
}

.product-list {
  border-collapse: collapse;
  width: 100%;
}

.product-list th,
.product-list td {
  padding: 0.625rem;
  text-align: left;
  border: 0.0625rem solid #ccc;
}

.product-list th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.product-list tr:nth-child(even) {
  background-color: #f8f8f8;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  border: 0.0625rem solid #f5c6cb;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .upload-form-container {
    width: 90%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .upload-form-container {
    width: 86%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .upload-form-container {
    width: 84%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .upload-form-container {
    width: 82%;
  }
}