body {
    height: 100vh;
    margin: 0;
  }
  
  .menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 14%;
    height: 100%;
  }
  
  .hamburger-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 8px;
    z-index: 2; /* İkonun menünün üstünde kalması için */
  }
  
  .hamburger-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #0d2f5a;
    width: 100%;
    height: 100%;
    padding: 16px;
    padding-top: 5rem;
    transform: translateX(0);
    transition: transform 0.3s ease;
  }
  
  .hamburger-menu.closed {
    transform: translateX(-100%);
  }
  
  .menu {
    background-color: transparent;
    border: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .link {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .link:hover {
    background-color: #f0f0f0;
    color: #0d2f5a;
  }
  