/* .menu {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  padding-top: 3.5rem;
  background-color: #0d2538;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.link {
  color: #fff;
  padding: 8px 10px;
}

.hamburger-icon {
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 30px;
  color: #fff;
  z-index: 100;
  cursor: pointer;
}

.hamburger-icon.open {
  display: block;
}

@media (max-width: 768px) {
  .menu.open {
    transform: translateX(0);
  }

  .hamburger-icon {
    display: block;
  }
} */
